<footer>
        <img src="/img/shapes/wave.png" alt="wave" />
        <div class="footer-content">
          <div class="about-us">
            <h1>Pizzeria INNOSCRIPTA</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. In nobis
              fugiat perspiciatis ex, quibusdam aspernatur, cumque accusamus
              reprehenderit laborum esse architecto nemo voluptas tempore qui
              quisquam excepturi neque. Excepturi, quis.
            </p>
          </div>
          <div class="contact-us">
            <h3>CONTACT US</h3>
            <div class="contact-us-btns">
              <a href="#" class="c-btn">
                <i class="fab fa-facebook-f"></i> Venezuela & Alemania</a
              >
              <a href="#" class="c-btn">
                <i class="fas fa-phone"></i> +58 (0414) 990-48-52</a
              >
              <a href="#" class="c-btn">
                <i class="far fa-envelope"></i> brayan.esteves93@gmail.com</a
              >
            </div>
          </div>
          <div class="email">
            <h3>GET IN TOUCH</h3>
            <form action="#">
              <input
                type="email"
                class="email-input"
                placeholder="Your Email"
              />
              <button class="btn">Subscribe</button>
            </form>
          </div>
        </div>
      </footer>