<section id="singin" class="singin">
    <form action="/signin" method="POST">
    <div class="container">        
            <div class="contact-box">
                <div class="left"></div>
                <div class="right">
                    <h2>Singin</h2>
                    <input type="text" name="username"class="field" placeholder="Your username">
                    <input type="password" name="password" class="field" placeholder="Yout Password">                    			
                    <button class="btn">Login</button>
                </div>
            </div>  
    </div>
    </form>
</section>