<section id="signup" class="signup">
    <form action="/signup" method="POST">
    <div class="container">        
            <div class="contact-box">
                <div class="left"></div>
                <div class="right">
                    <h2>Signup</h2>
                    <input type="text" name="username" class="field" placeholder="Your username">
                    <input type="password" name="password" class="field" placeholder="Yout Password">                    			
                    <button class="btn">Register</button>
                </div>
            </div>  
    </div>
    </form>
</section>